# Ignore Jupyter notebook checkpoints
**/.ipynb_checkpoints/

# Ignore virtual environment directories
env/
venv/
Flask/env/

# Ignore node modules
node_modules/

# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore log files and temporary files
*.log
.DS_Store
